@model Startups

<h2>@Model.CompanyName</h2>
<h3>@Model.City</h3>
<h3>@Model.Country</h3>
<p>@Model.TwoLineCompanySummary</p>
<p>@Model.Alignment</p>
<p>@Model.Themes</p>
<p>@Model.Raised</p>
<p>@Model.TechnologyAreas</p>
<br/>
<form>
    <input type="button" value="Return to Search" onclick="history.back()">
</form>
