@model Record

<h1>@Model.startups.CompanyName</h1><br />
<h2 style="color:green">Invetment Strategy Rating: @Model.startups.Rating</h2>
<h4>Company Website: @Model.startups.CompanyWebsite</h4>
<h4>Location: @Model.startups.City, @Model.startups.Country</h4><br />
<div>
 <h3>Company Information:</h3>
    <ul>
        @if (Model.startups.Alignment != null)
        {
            <li>This startup is aligned with these Seamless Companies: @Model.startups.Alignment</li>
        }
        else
        {
            <li> This startup is not aligned with any Seamless Companies yet.</li>
        }
        @if (Model.startups.TechnologyAreas != null)
        {
            <li>Technology Area: @Model.startups.TechnologyAreas</li>
        }
        else 
        { 
            <li>Technology Area: None currently listed</li>
        }
        <li>Themes: @Model.startups.Themes</li>
        <li>Company Summary: @Model.startups.TwoLineCompanySummary</li>
        <li>Total Funds Raised: @Model.startups.Raised</li>
   </ul>
</div><br />

<div>
    <h4>Public Comments:</h4>
    <ul>
        @if (Model.startups.Comments.Count > 0)
        {
       @foreach (Comments c in Model.startups.Comments)
       {

        <li> @c.Comment</li>

       }
        }
        else
        {
            <li>No public comments yet.</li>
        }
    </ul>
</div>
    

<button onclick="document.location = '/Investments/AddPublicComment?companyName=@Model.startups.CompanyName'">Add Public Comment</button>


<button onclick="document.location = '/Investments/AddToFavorite?name=@Model.startups.CompanyName&rating=@Model.startups.Rating&id=@Model.id'">Add to Favorites</button>
<button onclick="window.location = document.referrer">Back to Results</button>

