@model Record

<h2>Startup Name: @Model.startups.CompanyName</h2>
<h3>City: @Model.startups.City</h3>
<h3>Country: @Model.startups.Country</h3>
<p>Company Summary: @Model.startups.TwoLineCompanySummary</p>
<p>Partner Company Alignment: @Model.startups.Alignment</p>
<p>Themes: @Model.startups.Themes</p>
<p>Funding Raised: @Model.startups.Raised</p>
<p>Technology Areas: @Model.startups.TechnologyAreas</p>
<p>Ranking: @Model.startups.Rating</p>

<button onclick="document.location = '/Investments/AddToFavorite?name=@Model.startups.CompanyName&rating=@Model.startups.Rating&id=@Model.id'">Add to Favorites</button>

<form>
    <input type="button" value="back to results" onclick="window.location = document.referrer">
</form>


