@model Record




<h1>@Model.startups.CompanyName</h1>
<h2>Invetment Strategy rating: @Model.startups.Rating</h2>
<h3>Company website: @Model.startups.CompanyWebsite</h3>
<h3>Location: @Model.startups.City, @Model.startups.Country</h3>
<h4>Seamless Alignment: @Model.startups.Alignment</h4>
<h4>Technology Area: @Model.startups.TechnologyAreas</h4>
<h4>Themes: @Model.startups.Themes</h4>
<h5>Company Summary: @Model.startups.TwoLineCompanySummary</h5>
<h5>Total Funds Raised: @Model.startups.Raised</h5>
<h5>Iteration Stage: @Model.startups.Stage</h5>
@{
    foreach (Comments c in Model.startups.Comments)
    {

        <h5> Public Comment: @c.Comment</h5>

        <br>
    }
}


<button onclick="document.location = '/Investments/AddPublicComment?companyName=@Model.startups.CompanyName'">Add Public Comment</button>


<button onclick="document.location = '/Investments/AddToFavorite?name=@Model.startups.CompanyName&rating=@Model.startups.Rating&id=@Model.id'">Add to Favorites</button>
<button onclick="window.location = document.referrer">Back to Results</button>


