@model Record

<table class="table">
    <tr>
        <th>Startup Name</th>
        <th>Country</th>
        <th>City</th>
        <th>Company Summary</th>
        <th>Seamless Alignment</th>
        <th>Technology Area</th>
        <th>Theme</th>
        <th>Rating</th>
    </tr>

    <tr>
        <td>@Model.startups.CompanyName</td>
        <td>@Model.startups.Country</td>
        <td>@Model.startups.City</td>
        <td>@Model.startups.TwoLineCompanySummary</td>
        <td>@Model.startups.Alignment</td>
        <td>@Model.startups.TechnologyAreas</td>
        <td>@Model.startups.Themes</td>
        <td>@Model.startups.Rating</td>
    </tr>

</table>

    <button onclick="document.location = '/Investments/AddToFavorite?name=@Model.startups.CompanyName&rating=@Model.startups.Rating&id=@Model.id'">Add to Favorites</button>
    <button onclick="window.location = document.referrer">Back to Results</button>
   

