@model UserPreferences
@{
    ViewData["Title"] = "Home Page";
}
@if (Model != null)
{
    <p>Testing User Pref:</p>
    <p>@Model.Id</p>
    <p>@Model.Country</p>
    <p>@Model.TechArea</p>
    <p>@Model.Rank</p>
    <p>@Model.Alignment</p>
    <p>@Model.Theme</p>
    <form action="/Investments/Search" method="post">
        <input type="hidden" name="country" value="@Model.Country" />
        <input type="hidden" name="city" value="@Model.City" />
        <input type="hidden" name="theme" value="@Model.Theme" />
        <input type="hidden" name="technologyAreas" value="@Model.TechArea" />
        <input type="hidden" name="alignment" value="@Model.Alignment" />
        <input type="hidden" name="rating" value="@Model.Rank" />
        <input type="submit" />
    </form>
    <form action="/Investments/RemoveUserPreferences" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" value="Submit">Remove User Preferences</button>
    </form>
    <form action="/Investments/UpdateUserPreferences" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" value="Submit">Update User Preferences</button>
    </form>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our discription of the site.</p>
</div>
<div>
    <form action="/Investments/Search" method="post">
        <label for="companyName">Startup Name:</label><br />
        <input type="text" name="companyName" placeholder="Startup Name" /><br />
        <label for="country">Country:</label><br />
        <select id="country" name="country">
            <option value="">Any</option>
            <option value="USA">USA</option>
            <option value="Australia">Australia</option>
            <option value="Canada">Canada</option>
            <option value="China">China</option>
            <option value="Denmark">Denmark</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Israel">Israel</option>
            <option value="Japan">Japan</option>
            <option value="Mexico">Mexico</option>
            <option value="Portugal">Portugal</option>
            <option value="Russia">Russia</option>
            <option value="Sinagpore">Sinagpore</option>
            <option value="Spain">Spain</option>
            <option value="United Kingdom">United Kingdom</option>
        </select>
        <input type="text" name="city" placeholder="City" /><br />
        <label for="theme">Theme:</label><br />
        <select id="theme" name="theme">
            <option value="">Any</option>
            <option value="The Good Life">The Good Life</option>
            <option value="Health Beyond the Hospital">Health Beyond the Hospital</option>
            <option value="Robust Future">Robust Future</option>
        </select><br />
        <label for="technologyAreas">Technology Areas:</label><br />
        <select id="technologyAreas" name="technologyAreas">
            <option value="">Any</option>
            <option value="Advanced Materials">Advanced Materials</option>
            <option value="Business Process">Business Process</option>
            <option value="Products">Products</option>
            <option value="Robotics">Robotics</option>
            <option value="Sensing">Sensing</option>
            <option value="Software / AI">Software / AI</option>
        </select><br />
        <label for="alignment">Seamless Alignment:</label><br />
        <select id="alignment" name="alignment">
            <option value="">Any</option>
            <option value="Amway">Amway</option>
            <option value="Bissell">Bissell</option>
            <option value="Emergent">Emergent</option>
            <option value="Faurecia">Faurecia</option>
            <option value="Priority">Priority</option>
            <option value="Steelcase">Steelcase</option>
            <option value="Trinity">Trinity</option>
            <option value="Wakestream">Wakestream</option>
            <option value="Whirlpool">Whirlpool</option>
        </select><br />
        <label for="rating">Minimum Rating:</label><br />
        <input type="number" name="rating" placeholder="Rating" /><br />
        <br /><input type="submit" /><br />
    </form>
</div>
