@model IEnumerable<Record>

<table class="table">
    <tr>
        <th>Company Name</th>
        <th>Country</th>
        <th>City</th>
        <th>Themes</th>
        <th>Technology Areas</th>
        <th>Alignment</th>
        <th>Ranking</th>
    </tr>

    @if (Model != null)
    {
        foreach (Record r in Model)
            @if (Model != null)
            {
                <tr>
                    <td><a href="/Investments/Individual?id=@r.id">@r.startups.CompanyName</a></td>
                    <td>@r.startups.Country</td>
                    <td>@r.startups.City</td>
                    <td>@r.startups.Themes</td>
                    <td>@r.startups.TechnologyAreas</td>
                    <td>@r.startups.Alignment</td>
                    <td>@r.startups.Rating</td>

                </tr>                
                <tr>
                    <td>
                        <a href="/Investments/AddToFavorite?name=@r.startups.CompanyName" class="btn-danger">Add to Favorites</a>
                    </td>
                </tr>


            }

        }
</table>
@if (Model == null)
{
    <p>Sorry, no companies found under those terms. Would you like to <a href="/Investments/InvestmentsIndex">go back to the Search Page</a></p>
}